@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.text-color {
  color:#f1dede;
}

.mar-button {
  margin: 1.5px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
